html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: border-box; /*これじゃないと色々はみ出る。レイアウト崩れるから一旦これ。*/
}


body, input, select, textarea {
  color: #7c8081;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
  border: 0;
}

p, ul, ol, dl, table, blockquote {
  margin: 0 0 2em 0;
}



body {
  background: darkorange;

  .header {
    cursor: default;
    font-size: 0.8em;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    animation: none;
    background: transparent; //background: transparent;は背景を透過させる
    box-shadow: none;
    color: #fff;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 2em;
    position: absolute;

    h1 {
      font-weight: 900;
      margin: 0;

      span {
        font-weight: 300;
      }
    }
    nav {
      right: 2.5em;
      top: 2.2em;
      letter-spacing: 0.075em;
      position: absolute;
      text-transform: uppercase;

      ul {
        list-style: none;
        padding-left: 0;
        font-size: 1.5em;

        li {
          display: inline-block;
          margin-left: 1.5em;
          padding-left: 0;

          &.current > a,
          .primary {
            font-weight: 900;
          }

          &.submenu > a:before {
            content:'\f107';
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            text-decoration: none;
          }
          .primary {
            background: #83d3c9;
          }

          a {
            border: solid 1px transparent;
            color: inherit;
            display: inline-block;
            line-height: 1em;
            padding: 0.6em 0.75em;
            text-decoration: none;
          }
        }
      }
    }
  }

  .banner {
    background-image: url(".././img/van.jpg");
    background-position: center 60%;
    background-size: cover;
    color: #fff;
    cursor: default;
    padding: 6em 0; /*headerはposition: absolute;なのでイメージ浮く感じ。よってpadding分はページの上から詰められる */
    text-align: center;
    .inner {
      animation-fill-mode: forwards;
      background: rgba(52, 27, 43, 0.5);
      color: #fff;
      display: inline-block;
      //opacity: 0;
      padding: 3.7em 4.5em;
      text-align: center;

      header {
        display: inline-block;
        border-bottom: solid 2px;
        border-top: solid 2px;
        margin: 0 0 2em 0;
        padding: 3px 0 3px 0;

        h2{
          border-bottom: solid 2px;
          border-top: solid 2px;
          font-size: 2.5em;
          font-weight: 900;
          letter-spacing: 0.2em;
          margin: 0;
          padding-left: 0.05em;
          position: relative;
          text-transform: uppercase;

        }
      }

      p {
        letter-spacing: 0.1em;
        margin: 0; /*pタグの下に自動で改行が入るので、margin0を指定する */
        text-transform: uppercase;
      }

      footer {
        margin: 2em 0 0 0;
        .buttons {
          cursor: default;
          list-style: none;
          padding-left: 0;

          li {
            display: block;
            padding: 1.5em 0 0 0;

            a{
              width: 100%;
              border: solid 1px;
              border-radius: 0;
              color: inherit;
              cursor: pointer;
              display: inline-block;
              font-size: 0.8em;
              font-weight: 900;
              letter-spacing: 2px;
              min-width: 18em;
              padding: 0 0.75em;
              line-height: 3.75em;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
        }
      }
    }

  }

  .main {
    padding-top: 5em;
    .container {
      position: relative;
      text-align: center;
      margin: 0 auto;
      max-width: 100%;
      color: #fff;

        h2 {
          margin-bottom: 0;
          & + p {
            margin-bottom: 0;
            padding-top: 1.5em;
          }
        }
    }

    .wrapper {
      margin-bottom: 5em;
      padding: 5em;
    }

    .style2 {
      background-color: #83d3c9;
      color: #fff;
      .col-8 {
        width: 66%;

        .buttons {

          cursor: default;
          list-style: none;
          padding-left: 0;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            border: solid 1px;
            border-radius: 0;
            color: inherit;
            display: inline-block;
            font-size: 0.8em;
            font-weight: 900;
            letter-spacing: 2px;
            min-width: 18em;
            padding: 0 0.75em;
            line-height: 3.75em;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      .col-4{
        width: 34%;
        .featured-icons{
          cursor: default;
          margin: -0.75em 0 0 0;
          opacity: 0.35;
          overflow: hidden;
          position: relative;
          list-style: none;
          padding-left: 0;
          li {
            display: block;
            float: left;
            text-align: center;
            width: 50%;
            padding-left: 0;
            .icon {
              display: inline-block;
              font-size: 6.25em;
              height: 1.25em;
              line-height: 1.25em;
              text-decoration: none;
              position: relative;
              &:before {
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-weight: bold;
              }
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


.row > .col-4 {
  width: 33%;
}

.icon.featured {
  cursor: default;
  display: block;
  margin: 0 0 1.5em 0;
  opacity: .35;
  text-align: center;
  &:before {
    font-size: 5em;
    line-height: 1em;
  }
}

.fa-check:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.main > :last-child {
  margin-bottom: 0;
}

.wrapper.style3{
  background: #83d3c9;
  text-align: center;
  padding: 5em;
  .row > .col-6{
    width: 50%;

    .image.featured {
      display: block;
      margin: 0 0 2em 0;

      img {
        display: block;
        width: 100%;
      }
    }
  }

}

footer.major {
  padding-top: 3em;

  ul.buttons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 1.5em 0 0 0;

      &:first-child {
        padding: 0;
      }

      a {
        width: 100%;
        border: solid 1px;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 900;
        letter-spacing: 2px;
        min-width: 18em;
        padding: 0 0.75em;
        line-height: 3.75em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}


.cta {
  background-attachment: fixed;
  background-color: #645862;
  background-image: url(../img/5.jpg);
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 5em;
  text-align: center;

  header {
    margin-bottom: 2em;
  }

  footer .buttons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 1.5em 0 0 0;

      &:first-child {
        padding: 0;
      }

      a {
        width: 100%;
        border: solid 1px;
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 900;
        letter-spacing: 2px;
        min-width: 18em;
        padding: 0 0.75em;
        line-height: 3.75em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.button.primary {
  background: #83d3c9;
  border-color: #83d3c9;
}

footer.footer {
  padding: 5em;
  text-align: center;

  .icons {
    list-style: none;
    padding-left: 0;
    cursor: default;
    position: relative;

    li {
      display: inline-block;
      line-height: 1em;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .copyright {
    font-size: 0.8em;
    line-height: 1em;
  }

  & >:last-child {
    margin-bottom: 0;
  }
}



.icons {

  .circle {
    transition:  all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
  }

  .fa-twitter{
    background: #70aecd;
    color: #fff;
  }

  .fa-facebook {
    background: #7490c3;
    color: #fff;
  }

  .fa-google-plus {
    background: #db6b67;
    color: #fff;
  }

  .fa-github {
    background: #dcad8b;
    color: #fff;
  }

  .fa-dribbble {
    background: #da83ae;
    color: #fff;
  }

  .icon {

    & > .label {
      display: none;
    }

    &:before {
      font-style: normal;
      text-transform: none;

      }
    }
}






//↑↑scssの知識不足の為、莫大な長さのコードとなってしまいました・・・・。





//Media query

@media screen and (max-width: 1680px){
  body, input, select, textarea {
    font-size: 14px;
  }

  .row {
  margin-top: -20px;
  margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    padding: 20px 0 0 20px;
  }
}

@media screen and (max-width: 1680px){
  .container{
    width: 1200px;
  }
  .row > * {
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
  }
}




.special-line {
  &:before {
    left: 0;
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: -2.25em;
    width: 43%;
  }
  &:after {
    right: 0;
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: -2.25em;
    width: 43%;
  }
  .icon {
    cursor: default;
    height: 7em;
    left: 0px;
    position: absolute;
    text-align: center;
    top: -2.8em;
    width: 100%;
    text-decoration: none;
    &:before {
      content: "\f080";
      font-size: 3.5em;
      opacity: 0.35;
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
    }
  }
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-volume-up:before {
  content: "\f028";
}
.fa-laptop:before {
  content: "\f109";
}

.fa-lock:before {
  content: "\f023";
}

.fa-cog:before {
  content: "\f013";
}